@{
    var pathArr = ViewContext.View.Path.Split("/").ToList();
    var breadCrumbArr = pathArr
        .Where((_, idx) => idx != 1 && idx != pathArr.Count - 1);
    var breadCrumb = string.Join("/ ", breadCrumbArr);
}

@functions {
    public bool IsActive(string href)=> 
        ViewContext.View.Path.Contains(href, StringComparison.InvariantCultureIgnoreCase);
}

<!DOCTYPE html>
<html lang="en" id="html" class="">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Gestão</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body 
    class="h-screen flex flex-col
    bg-light-main dark:bg-dark-main text-zinc-950 dark:text-zinc-300"
>
    <header 
        class="flex justify-between py-2 px-4 
        border-b border-zinc-200 dark:border-zinc-800 
        bg-light-main dark:bg-dark-main"
    >
        <span class="text-sm text-zinc-400 dark:text-zinc-400">@breadCrumb</span>
        <button class="cursor-pointer"
            _="on click toggle .dark on #html 
            then toggle .hidden on [#light, #dark]"  
        >
            <i id="light" data-lucide="sun"></i>
            <i id="dark" data-lucide="moon" class="hidden"></i>
        </button>
    </header>
    <main role="main" class="flex h-full"> 
        <section 
            class="flex flex-col items-center
            w-2/12
            bg-light-sidebar dark:bg-dark-sidebar
            border-r border-zinc-300 dark:border-zinc-800"
        >
            <div class="p-3 flex justify-start w-full">
                <a href="/">My Yard</a>
            </div>
            <div class="h-[1px] w-11/12 mb-1 bg-light-separator dark:bg-dark-separator"></div>
            <div class="grow flex w-full">
                <nav class="flex flex-col w-full">
                    <div class="py-1 p-3 w-full @(IsActive("condos") ? "bg-light-nav-item dark:bg-dark-nav-item" : "")">
                        <a href="/condos">Condos</a>
                    </div>
                    <div class="py-1 p-3 w-full @(IsActive("apartments") ? "bg-light-nav-item dark:bg-dark-nav-item" : "")">
                        <a href="/#">Apartments</a>
                    </div>
                    <div class="py-1 p-3 w-full @(IsActive("people") ? "bg-light-nav-item dark:bg-dark-nav-item" : "")">
                        <a href="/#">People</a>
                    </div>
                </nav>
            </div>
            <div class="h-[1px] w-11/12 mb-1 bg-light-separator dark:bg-dark-separator"></div>
            <div class="flex justify-between p-2 w-full">
                <div>
                    <button class="cursor-pointer">
                        <div class="flex items-center gap-3">
                            <i data-lucide="settings" class="w-4 h-4"></i>
                            <span class="text-sm">Settings</span>
                        </div>
                    </button> 
                </div>
                <div>
                    <button class="cursor-pointer">
                        <i data-lucide="chevrons-left" class="w-4 h-4"></i>
                    </button>
                </div>
            </div>
        </section>
        <section class="w-full">@RenderBody()</section>
    </main>

    <script src="https://unpkg.com/hyperscript.org@0.9.14"></script>
    <script src="~/lib/htmx.min.js"></script>
    <script src="~/js/site.js.mjs" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
